<% if (errors) { %>
    <div><%=errors%></div>
<% } %>
<form method="POST" action="/create/">
    <label for="discId">Insert your discord ID (case and space sensetive):</label><br>
    <input type="text" name="discId" placeholder="example: Name#0000"><br>
    <input type="submit" value="Submit">
</form>