<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Mtogether</title>
    <script> 
        const sessionOwner = <%= user %>;
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/javascripts/socket.js "></script>
</head>
<body>
    <div class="container">
        <div class="error-message"></div>
        <div class="inner-container">     
            <p> 
                HI sup there to stream music in the room just add this bot to YOUR discord</br>
                and then give it any role in our server that allows to manage roles and then </br>
                use the command !give_role and play a song o spotify. When that is done u will be automatically redirected to a page with ur room code :)</br> PS: UR STATUS MUST BE ONLINE!
            </p>
            <a target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=753967301291671632&permissions=0&scope=bot">ADD BOT</a>
        </div>
    </div>
</body>
</html>