<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Mtogether</title>
</head>
<body>
    <div class="container">
        <div class="error-message"></div>
        <div class="inner-container">     
            <p>YOU WONT BE SEEING THIS WEBSITE MOST OF THE TIME WHY DESIGN IT ?</p>
            <a href="/create">create room</a>
            <a href="/join">join room</a>
        </div>
    </div>
</body>
</html>