<% if (errors) { %>
    <div><%=errors%></div>
<% } %>
<form method="POST" action="/join">
    <label for="roomName">room code pls</label></br>
    <input type="text" name="roomName"></br>
    <input type="submit" value="Submit">
  </form> 